{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h2 class="add_image">Upload a New Image</h2>
    <form method="POST" enctype="multipart/form-data" id="add_image_form">
      {{ form.hidden_tag() }}

      {% for field in form %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <!-- <label>{{ field.label.text }}</label> -->
      {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <button class="btn btn-primary btn-lg">Upload!</button>
    </form>
  </div>
</div>


{% endblock %}