<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FFKHWQNKZF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-FFKHWQNKZF');
  </script>

  <meta charset="UTF-8">
  <title>Pixly!</title>

  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="container-fluid">

  <nav class="navbar navbar-expand navbar-dark bg-primary mx-5 mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Pixly Images</a>

      <div class="navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ms-auto mb-2 mt-2">
          <li class="nav-item" style="font-size: x-large">
            <a class="nav-link" href="/addimage"><b>Add New Image</b></a>
          </li>
        </ul>

        <form class="d-flex" action="/" id="search-form">
          <input class="form-control me-sm-2" name="search" type="text" placeholder="search for images">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>

  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }} mx-5">
    {{ message }}
  </div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</body>

</html>