<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pixly Images</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">

</head>

<body class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <span>Pixly!</span>
        </a>
      </div>

      <div class="navbar navbar-nav">
        <div class="nav-link">
          <a href="/addimage" class="nav-link">
            <b>Add New Image</b>
          </a>
        </div>

        <div>
          <form class="d-flex navbar-form navbar-end" action="/">
            <input name="search" class="form-control"
                    placeholder="search for images"
                    aria-label="Search">
            <button class="btn btn-primary btn-sm">Search</button>
          </form>
        </div>
      </div>

    </div>
  </nav>

  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</body>

</html>