{% extends 'base.html' %}

{% block content %}

<div class="container-fluid col-6 offset-3">

  <div class="mt-4 mb-4">
    <img class="image img-fluid"
          style="max-width: 100%"
          src="/static/temp/image_edit.jpg"
          alt="">
  </div>

  <h3>Delete Image </h3>
  <div class="form-group justify-content-center">
    <form method="POST" enctype="multipart/form-data" id="delete_image_form">
      {{ form.hidden_tag() }}

      {% for field in form
      if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <label>{{ field.label }}</label>
      {{ field(class="form-control") }}
      {% endfor %}

      <button type="submit" class="btn btn-danger btn-lg">Confirm Delete</button>
    </form>
  </div>

</div>


{% endblock %}