{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center">
  <h2 class="mt-3 mb-3 add_image">Upload an Edited Image</h2>
  <div class="col-md-7 d-flex flex-column">

    <img class="photo-details" src="/static/images/edit.JPG" alt="edited-img">
    <form method="POST" enctype="multipart/form-data" id="upload_image_form">
      {{ form.hidden_tag() }}

      {% for field in form
      if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <label>{{ field.label }}</label>
      {{ field(class="form-control") }}
      {% endfor %}

      <div class="d-flex justify-content-md-center mt-3">
        <button class="btn btn-success btn-lg">Upload Image!</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}