{% extends 'base.html' %}

{% block content %}

<div class="container-fluid col-6 offset-3">

  <div class="mt-4 mb-3">
    <img class="image img-fluid"
          src="/static/temp/image_edit.JPG"
          alt="">
  </div>

  <h3>Upload an Edited Image</h3>
  <div class="form-group justify-content-center">
    <form method="POST" enctype="multipart/form-data" id="upload-edit-form">
      {{ form.hidden_tag() }}

      {% for field in form
      if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <label>{{ field.label }}</label>
      {{ field(class="form-control") }}
      {% endfor %}

      <br>
      <button type="submit" class="btn btn-success btn-lg">Upload Image</button>
    </form>
  </div>

</div>

{% endblock %}
